<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="success_tech">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/success_tech">Dashboard</a>
                    <a class="nav-link" href="/create_job">Create Job</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <h1>Veiw Details for {{job.name}}'s Job</h1>
    <p>Total Estimated Cost: ${{job.total_cost}} </p>
    <p> Job created on: {{job.created_at}} </p>
    <p> Creator of the job: {{job.user.first_name }} {{job.user.last_name}} </p>
    <P> Address: {{job.address}}, {{job.address_city}}, {{job.address_state}} {{job.address_zip}}</P>
    <p>Total Square Footage: {{job.total_square_foot}} </p>
    <p> Material Cost: ${{job.material_cost}} </p>
    <p>Labor Cost: ${{job.labor_cost}} </p>
    <p>Costomer Request: {{job.customer_request}} </p>
    <p>Material Supplier: {{job.material_supplier}} </p>
    <p>Material Ordered On: {{job.order_date_material}} </p>
    <p>Material Pickup Date: {{job.pick_up_material}} </p>
    <P>Material Ordered: {{job.material_ordered_list}} </P>
    <p>File Uploaded for Ductwork Blueprint: {{job.file}} </p>
</body>

</html>